h3 {
    padding-left: 20px;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    color: #a0ebff;
    font-weight: bold;
}

body {
    background: rgb(10,181,226);
    background: linear-gradient(90deg, rgba(10,181,226,1) 10%, rgba(148,29,253,1) 50%, rgba(252,176,69,1) 90%);
    color: aliceblue;
    font-size: 20px;
    font-family: "georgia";

}

div {
    padding-left: 20px;
    margin: auto;
    line-height: 40px;
}

button {
    transition-duration: 0.4s;
    padding: 10px 10px;
    border-radius: 10%;
    border-color: black;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
}
button:hover {
    background-color: #fcb045;
}